body {
    background-color: black;
}
header {
    text-align: center;
    
}

h1 {
    margin: 0 auto;
    padding: 10px 0;
    background-color: brown;
    color: white;

    
}

nav {
    background-color: grey;
    padding: 25px 0;
}

nav p {
    margin: 35px 0px;
}

nav a, .order a {
    background-color: blue;
    padding: 15px 15px;
    color: antiquewhite;
    border: solid 2px green;
    
}

nav a:hover, footer p a:hover, .order a:hover {
    background-color: green;
    color: red;
    text-decoration: none;

}

nav a:active, .order a:active {
    background-color: darkgoldenrod;
    color: black;
}



main{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    text-align: center;    
}

.intro {
    padding-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 500;
}

main div {
    width: 80%;
    margin: 20px auto;
}

#banner img {
    max-width: 100%;
}

footer {
    padding: 10px 0;
    background-color: dimgrey;
    color: white;
    text-align: center;
}

footer p {
    font-size: 20px;
    padding: 10px;

}

footer p a {
    background-color: blueviolet;
    padding: 15px;
    color: antiquewhite;

}



#sticker {
    background-color: red;
    text-align: center;
}

.sub-title {
    width: 250px;
    margin-right:auto;
    margin-left: auto;
    
}

.order-p {
    font-size: 20px;
}

.order {
    width: 250px;
    margin: 20px auto;

}

#effects-container {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    border: solid 4px blueviolet;
    flex-direction: row;
    justify-content: space-evenly;

}


.effects {
    width: 200px;
    height: 250px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    background-color: dimgray;
    padding-top: 20px;
    
    
}

.effects img {
    display: block;
    max-width: 100%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    
    
}

.caption {
    color: black;
    text-transform: capitalize;
}

#about {
    text-align: center;
}
.ceo {
    width: 300px;
    margin: 10px auto;
    border:solid 5px burlywood;

}

.ceo img {
    max-width: 100%;
}


/*Rubot */

#welcome {
    padding-top: 50px;
}

#introduction, #info, #game, #game-over {
    padding-bottom: 20px;
}

#poster-container {
    width: 80%;
}

#rubot-poster {
    width: 100%;
}

input[type="text"] {
    border-radius: 20px;
}

#start {
    display: block;
    background-color: blue;
    width: 250px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    box-shadow: 2px 5px;
    
}

.butt {
    box-shadow: 2px 5px;
    padding: 5px;
}

.butt:hover{
    cursor: pointer;
}

.butt:active {
    box-shadow: 0px 0px;
}

#compete {
    display: flex;
    width:98%;
    margin-right: auto;
    margin-left:auto;
    justify-content: space-evenly;

}

#player-game {
    border: 2px solid red;
    width: 45%;
}

#Rubot-game{
    border: 2px solid green;
    background-color: darkgray;
    width: 45%;

}

.choice-image {
    width: 150px;
    height: 100px;
    overflow: hidden;
}

#Rubot-choice, #player-choice {
    max-width: 100%;
    max-height: 100%;
}


.key {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.thumbnail {
    width: 50px;
}

.thumbnail img{
    max-width: 100%;
}

#advert-pic-container, #funny-pic-container {
    width: 200px;
}

#advert-pic, #funny-pic {
    max-width: 200px;
}




